body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: white;
    background-color: #333333;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.homePage {
    margin: 30%;
}  


a {
    color: white;
}

div {
    padding: 0%;
}

hr {
    width: 70%;
    border: 1px solid rgba(255,255,255,.25);
}

.carousel{
    height: 600px; 
    perspective: 250px;    
    
}
.carousel .carousel-item {
	width: 300px;
	background: #434343;
	padding: 20px;
	height: 500px;
	text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), inset gray 0px 0px 60px -12px;
}

.productImage {
    padding-top: 60px;
    padding-bottom: 30px;

}

.product {
}

.productName {
    padding-top: 40px;
}

.productNameLight {
    font-size: 28px;
    font-weight: lighter;
    padding: 5px;
}

.productSubName {
    font-size: 20px;
}

.productPrice {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slashPrice {
    text-decoration: line-through;
}

.origPrice {
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
}


.productDetails {
    padding: 20px;
    line-height: 2.25;
}


/* ##### CARD ###### */


.cardIcon {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardFirst {
    display: flex;
    padding: 15px;
}

.cardSecond {
    display: flex;
    padding: 15px;
}

.cardThird {
    display: flex;
    padding: 15px;
}

.cardDetails {
    padding-top: 25px;
    padding-left: 25px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.cardName {
    font-size: 20px;
    font-weight: bold;
}


/* ##### INGREDIENTS ###### */


.ingredient {
    border-style: solid;
    border: 1px solid rgba(255,255,255,.25);
    border-width: .5px;
    margin: 20px 20px 0px 20px;
    padding: 30px 20px 30px 20px;
    color: #777777;
}

.ingredientTitle {
    padding-bottom: 10px;
    font-weight: bold;
}

.addToCart {
    padding: 50px;
}

.orderChat {
    color: white;
    padding-top: 10px;
}

/* ##### MY STORY ###### */

.myStory {
    color: #777777;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
}

/* ##### FOOTER ###### */


.footer {
    background-color: #444444;
    color: #888888;
    padding: 40px;
}

.contentName {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}

.firstContent {
    padding: 20px;
}

.secondContent {
    padding: 20px;
}

.thirdContent {
    padding: 20px;
}

.fourthContent {
    padding: 20px;
}
